
node_modules/
.npm/
.pnpm-store/
*.tsbuildinfo
out/                    
dist/                   
release/                  
.vite/                    
*.dmg
*.exe
*.msi
*.zip
*.AppImage
*.deb
*.rpm
*.pkg
*.asar
*.asar.unpacked/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
crash_reports/
*.stdout.log
*.stderr.log

.env*
!.env.example           

.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json   
!.vscode/extensions.json


coverage/


.cursor/

docs/

.claude

.assets/*

